<!DOCTYPE html>
<html lang="en-US">
<head>
	<title> <%= title %> </title>
	<%  include partials/head %>
</head>
<body>

<main class="container mb-3 mt-3">
	<h2 class="text-center text-black mb-2">Product page</h2>

<section class="row">
<section class="col-md-6">
	<section class="img-thumbnail">
	<div id="lb-back">
      <div id="lb-img"></div>
    </div>
		<img src="/images/beyond-the-hurt.png" alt="" class="img-fluid zoomD" />
	</section>
</section>
<section class="col-md-6">
	<h3>Beyond the Hurt</h3>
	<p><em>A life transforming book to read.</em></p>
	<p><strong>$4.99</strong></p>
	<p><strong>Favour Duruji-Moses</strong></p>

	<hr></hr>

	<button type="submit" class="btn btn-success btn-lg d-block">Buy
	 Now</button>
	
	 <hr></hr>

	 <h6>Description</h6>
	<p>
	How do you feel being hurt. How do you take and treat your hurt. Are you going to give up in life and your destiny just because someone hurt you. I don’t know how you feel. But you can Walk away from your pain and live your life the bible way.
		Hurt is an experience you cannot run away from. Hurt can be an important driven force to making it in life.
	</p>

	<hr></hr>

	<div class="container">
		<img src="https://flutterwave.com/images/badge.png" class="img-fluid w-50">
	</div>

</section>
</section>


</main>



<% include partials/footer %>

<$ include partials/scripts %>
</body>
</html>