<!DOCTYPE html>
<html lang="US-en">
	<% include partials/head %>


<body>


	<div class="mian-content">
		<% include partials/header %>

		<!--  particles  -->
		<div id="particles-js"></div>
		<!-- //particles -->

		<!-- banner -->
		<div class="banner-text">
			<div class="effect-text-w3ls">
				<div class="container">
					<h2>Professional Clergy & Business Woman</h2>
					<span class="mytext1 uppercase mt-2">Hello My Name is </span>
					<span class="mytext2"> Favour Urenma Duruji-Moses </span>
					<p class="para-style text-light mt-xl-4 mt-3">Founder, Hosannah Women Fellowship & CEO, Destwards Enterprises.</p>
					<div class="button-w3ls" data-aos="fade-up">
						<a href="/contact" class="btn btn-sm animated-button thar-four">Book an Appointment</a>
					</div>
				</div>
			</div>
		</div>
		<!-- //banner -->
	</div>
	<!-- //main -->
<!---728x90--->

	<!-- banner bottom -->
	<section class="bottom-banner-w3layouts py-5" id="about">
		<div class="container py-xl-5 py-lg-3">
			<div class="row py-xl-3 py-lg-3">
				<div class="col-lg-6 feature fea-slider" data-aos="fade-right">
					<img src="/images/favour.png" class="img-fluid" alt="">
				</div>
				<div class="col-lg-6 feature pl-lg-5 mt-lg-0 mt-5" data-aos="fade-left">
					<h3 class="title-wthree text-dark mb-4">
						<span class="mb-2">Intro</span>About Me</h3>


					<p>Favour Duruji-Moses, a graduate of International relations, she is a woman with deep insight into God’s word and has a burning heart for Christ.</p>
					<p class="mt-3">She has a calling of God upon her life to raise women with burning heart for God. She founded Hosannah Women Fellowship. She ministers through various channel like Facebook Live and Youtube, teaching on essential things needed for both men and women to live a fulfilled life. She is married to Dr. Duruji Moses, their home is blessed with two boys and a lovely daughter.</p>
					<!-- <div class="button-w3ls">
						<a href="#" class="btn btn-sm animated-button thar-four">Download <i class="fa fa-download"></i></a>
					</div> -->
				</div>
			</div>
		</div>
	</section>
	<!-- //banner bottom -->
<!---728x90--->
	<!-- services -->
	<div class="why-choose-agile py-5" id="services">
		<div class="container py-xl-5 py-lg-3">
			<!-- heading title -->
			<div class="mb-lg-5 mb-4 text-center">
				<h3 class="title-wthree text-white mb-2">
					<span class="text-dark mb-2">My Works</span>Excellent Services</h3>
				<p class="sub-tittle">The works of my hands.</p>
			</div>
			<!-- //heading title -->
			<div class="row agileits-w3layouts-grid pt-md-4">
				<div class="col-lg-4 services-agile-1" data-aos="zoom-in-up">
					<div class="row wthree_agile_us py-md-4 py-3">
						<div class="col-lg-3 col-sm-2 col-3 pr-lg-2">
							<div class="wthree_features_grid text-center py-3">
								<i class="fa fa-affiliatetheme"></i>
							</div>
						</div>
						<div class="col-lg-9 col-sm-10 col-9 agile-why-text">
							<h4 class="text-white font-weight-bold mb-3">Author</h4>
							<p>I write and publish books.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 services-agile-1" data-aos="zoom-in-up">
					<div class="row wthree_agile_us py-md-4 py-3">
						<div class="col-lg-3 col-sm-2 col-3 pr-lg-2">
							<div class="wthree_features_grid text-center py-3">
								<i class="fa fa-accusoft"></i>
							</div>
						</div>
						<div class="col-lg-9 col-sm-10 col-9  agile-why-text">
							<h4 class="text-white font-weight-bold mb-3">Clergy (Pastor)</h4>
							<p>I preach the word of God.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 services-agile-1" data-aos="zoom-in-up">
					<div class="row wthree_agile_us py-md-4 py-3">
						<div class="col-lg-3 col-sm-2 col-3 pr-lg-2">
							<div class="wthree_features_grid text-center py-3">
								<i class="fab fa-forumbee"></i>
							</div>
						</div>
						<div class="col-lg-9 col-sm-10 col-9 agile-why-text">
							<h4 class="text-white font-weight-bold mb-3">Business Woman</h4>
							<p>I run a business enterprises.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row agileits-w3layouts-grid my-lg-4">
				<div class="col-lg-6 services-agile-1" data-aos="zoom-in-up">
					<div class="row wthree_agile_us py-md-4 py-3">
						<div class="col-lg-3 col-sm-2 col-3 pr-lg-2">
							<div class="wthree_features_grid text-center py-3">
								<i class="fab fa-audible"></i>
							</div>
						</div>
						<div class="col-lg-9 col-sm-10 col-9 agile-why-text">
							<h4 class="text-white font-weight-bold mb-3">Caterer</h4>
							<p>I make and create different kind of local and international delicacy.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6 services-agile-1" data-aos="zoom-in-up">
					<div class="row wthree_agile_us py-md-4 py-3">
						<div class="col-lg-3 col-sm-2 col-3 pr-lg-2">
							<div class="wthree_features_grid text-center py-3">
								<i class="fab fa-asymmetrik"></i>
							</div>
						</div>
						<div class="col-lg-9 col-sm-10 col-9 agile-why-text">
							<h4 class="text-white font-weight-bold mb-3">Interior Decor</h4>
							<p>I provide and do design interior.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //services -->
<!---728x90--->
	<!-- education -->
	<div class="info-w3layouts" id="education">
		<div class="w3l-overlay py-5">
			<div class="container py-xl-5 py-lg-3">
				<div class="edu-agile-info">
					<div class="row">
						<div class="col-lg-6" data-aos="fade-up"
						data-aos-duration="3000">
							<div class="grid-flex bg-white p-5">
								<div class="pl-4 title-edu py-2 mb-5">
									<i class="fa fa-book-reader mb-2"></i>
									<h4 class="aboutbtm-head">My Education</h4>
								</div>
								<div class="grids-agiles-one">
									<h5 class="text-dark mb-2">Post-graduate</h5>
									<p>M.Sc in International Relations</p>
									<p>M.Ed in Advanced Teaching <strong>(in-view)</strong></p>
								</div>
								<div class="grids-agiles-one my-3">
									<h5 class="text-dark mb-2">University</h5>
									<p>B.Sc in International Relations</p>
								</div>
								<div class="grids-agiles-one">
									<h5 class="text-dark mb-2">High School</h5>
									<p>Annser Laboratory Comprehensive Secondary</p>
								</div>
								<div class="style-book-wthree">
									<i class="fa fa-book-open"></i>
								</div>
							</div>
						</div>
						<div class="col-lg-6 mt-lg-0 mt-5" data-aos="fade-up"
						data-aos-duration="3000">
							<div class="grid-flex bg-white p-5">
								<div class="pl-4 title-edu py-2 mb-5">
									<i class="fa fa-chalkboard-teacher mb-2"></i>
									<h4 class="aboutbtm-head">My Experience</h4>
								</div>
								<div class="grids-agiles-one">
									<h5 class="text-dark mb-2">Work(Pastor) in Hosannah Women Fellowship</h5>
									<p>2015- till eternity</p>
								</div>
								<div class="grids-agiles-one my-3">
									<h5 class="text-dark mb-2">Work in Destewards Enterprises</h5>
									<p>2010- till date</p>
								</div>
								<div class="grids-agiles-one">
									<h5 class="text-dark mb-2">Interior Decorator in Mandate, Canaanland</h5>
									<p>2018-20XX</p>
								</div>
								<div class="style-book-wthree">
									<i class="fas fa-edit"></i>
								</div>
							</div>
						</div>>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //education -->

	<!-- clients -->
	<div class="testimonials py-5" id="clients">
		<div class="container py-xl-5 py-lg-3">
			<!-- heading title -->
			<div class="mb-sm-5 mb-4 text-center">
				<h3 class="title-wthree text-dark mb-2">
					<span class="mb-2">Reviews</span>My Clients</h3>
				<p class="sub-tittle-2">Feedback and Opinions of people I have and/or work with.</p>
			</div>
			<!-- //heading title -->
			<div class="row">
				<div class="col-lg-6 w3_testimonials_grids">
					<section class="slider">
						<div class="flexslider">
							<ul class="slides">
								<li>
									<div class="w3_testimonials_grid px-xl-5 px-4 mt-xl-4 mx-auto">
										<h4 class="text-dark text-center font-weight-light">
											<i class="fas fa-quote-left mr-3"></i>She is such a lovely and accomodating woman, always there for her people.<i class="fas fa-quote-right ml-3"></i>
										</h4>
										<div class="row mt-5">
											<div class="col-6 test-agiles text-right">
												<img src="/images/te1.jpg" alt=" " class="img-fluid rounded-circle" />
											</div>
											<div class="col-6 right-text-agiles text-left mt-4">
												<h5 class="font-weight-bold">Pst. Adeyemi</h5>
												<p class="mt-2">Real Estate Investor</p>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="w3_testimonials_grid px-xl-5 px-4 mt-xl-4 mx-auto">
										<h4 class="text-dark text-center font-weight-light">
											<i class="fas fa-quote-left mr-3"></i>A woman with a heart of Gold, she's one of a kind.<i class="fas fa-quote-right ml-3"></i>
										</h4>
										<div class="row mt-5">
											<div class="col-6 test-agiles text-right">
												<img src="/images/te2.jpg" alt=" " class="img-fluid rounded-circle" />
											</div>
											<div class="col-6 right-text-agiles text-left mt-4">
												<h5 class="font-weight-bold">Mrs. Ngozi Henry-Okodua </h5>
												<p class="mt-2">Fellowship member</p>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="w3_testimonials_grid px-xl-5 px-4 mt-xl-4 mx-auto">
										<h4 class="text-dark text-center font-weight-light">
											<i class="fas fa-quote-left mr-3"></i>Such a lovely sister she is. She will never stop caring and been kind to people. I salute her personality.<i class="fas fa-quote-right ml-3"></i>
										</h4>
										<div class="row mt-5">
											<div class="col-6 test-agiles text-right">
												<img src="/images/te3.jpg" alt=" " class="img-fluid rounded-circle" />
											</div>
											<div class="col-6 right-text-agiles text-left mt-4">
												<h5 class="font-weight-bold">Deaconess Abigali</h5>
												<p class="mt-2">Nurse</p>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</section>
				</div>
				<div class="col-lg-6 video-w3ls mt-lg-0 mt-sm-5 mt-4" data-aos="zoom-in-left">
					<img src="/images/testi.jpg" alt="" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
	<!-- //clients -->

	<!-- facts -->
	<div class="mobile-trend-agile py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="row">
				<div class="offset-lg-6 offset-md-5 offset-sm-3"></div>

				<div class="col-lg-6 col-md-7 col-sm-9 what-w3lsmk text-center mt-sm-5 mt-3 pt-lg-3" data-aos="fade-down">
					<!-- heading title -->
					<div class="mb-lg-5 mb-4 text-center">
						<h3 class="title-wthree text-dark mb-2">
							<span class="mb-2">About Me</span>Some Interesting Facts </h3>
					</div>
					<!-- //heading title -->
					<p>She has a calling of God upon her life to raise women with burning heart for God. She founded Hosannah Women Fellowship.</p>
					<p class="mt-3">She ministers through various channel like Facebook Live and Youtube, teaching on essential things needed for both men and women to live a fulfilled life.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- //facts -->

	<!-- projects -->
	<div class="gallery py-5" id="projects">
		<div class="container py-xl-5 py-lg-3">
			<!-- heading title -->
			<div class="mb-lg-5 mb-4 text-center">
				<h3 class="title-wthree text-dark mb-2">
					<span class="mb-2">Gallery</span>My Hand-work</h3>
				<p class="sub-tittle-2">Showcasing what I do from catering, writing, products.</p>
			</div>
			<!-- //heading title -->
			<div class="gallery-grids" >
				<section>
					<ul id="da-thumbs" class="da-thumbs">
						<li data-aos="zoom-in">
							<a href="/images/beyond-the-hurt.png" class="b-link-stripe b-animate-go  thickbox">
								<img src="/images/beyond-the-hurt.png" alt="" class="img-fluid" />
								<div>
									<h5 class="card-header">Beyond the Hurt</h5>
									<p class="btn btn-dark">Buy Now</p>
								</div>
							</a>
						</li>
						<li data-aos="zoom-in">
							<a href="/images/chip-img-2.jpg" class="b-link-stripe b-animate-go  thickbox">
								<img src="/images/chip-img-2.jpg" alt="" class="img-fluid chip-custom-img-size" />
								<div>
									<h5 class="card-header">Desteward Chips</h5>
									<p class="btn btn-dark">Order for it!</p>
								</div>
							</a>
						</li>
						<li data-aos="zoom-in">
							<a href="/images/g3.jpg" class="b-link-stripe b-animate-go  thickbox">
								<img src="/images/g3.jpg" alt="" class="img-fluid" />
								<div>
									<h5>Bed-Spread (Interior Decor)</h5>
									<p>Order now</p>
								</div>
							</a>
						</li>
					</ul>
				</section>
			</div>
		</div>
	</div>
	<!--//gallery-->

	<!-- awards -->
	<div class="awards-w3ls py-5" id="awards">
		<div class="container py-xl-5 py-lg-3">
			<!-- heading title -->
			<div class="mb-lg-5 mb-4 text-center">
				<h3 class="title-wthree text-white mb-2">
					<span class="text-white mb-2"></span>My Favorite Quote</h3>
				<p class="sub-tittle">Interesting and encouraging watch-word.</p>
			</div>
			<!-- //heading title -->
			<div class="row pt-sm-5">
				<div class="offset-lg-1"></div>
				<div class="col-lg-5 col-md-7 col-sm-9 awards-agileits-w3layouts text-center" data-aos="flip-left"
				data-aos-easing="ease-out-cubic"
				data-aos-duration="2000">
					<div class="w3_agileits_services_grid bg-white p-4">
						<i class="fa fa-award mb-2"></i>
						<h4 class="text-dark mb-3">Hosannah Women Fellowship</h4>
						<p>God is planning and working on behalf of your work, Trust him and believe in him.</p>
					</div>
					<div class="w3_agileits_services_grid bg-white p-4 mt-4">
						<i class="fa fa-trophy mb-2"></i>
						<h4 class="text-dark mb-3">Personal quote</h4>
						<p>When you see God blessing someone don't be too jealous by not congratulating him, God is tushing up your testimony.</p>
					</div>
				</div>
				<div class="col-md-6"></div>
			</div>
		</div>
	</div>
	<!-- //awards -->

	<% include partials/footer %>


	<!-- Js files -->
	<!-- JavaScript -->
	<script src="/javascripts/jquery-2.2.3.min.js"></script>
	<!-- Default-JavaScript-File -->

	<!-- scripts required  for particle effect -->
	<script src='/javascripts/particles.min.js'></script>
	<script src="/javascripts/particles.js"></script>
	<!-- //scripts required for particle effect -->

	<!-- chart -->
	<script src='/javascripts/amcharts.js'></script>
	<script src='/javascripts/chart.js'></script>
	<!-- //chart -->
	<!-- //gallery-js -->

	<!-- stats -->
	<script src="/javascripts/jquery.waypoints.min.js"></script>
	<script src="/javascripts/jquery.countup.js"></script>
	<script>
		$('.counter').countUp();
	</script>
	<!-- //stats -->

	<!-- flexSlider (for testimonials) -->
	<link rel="stylesheet" href="/stylesheets/flexslider.css" type="text/css" media="screen" property="" />
	<script defer src="/javascripts/jquery.flexslider.js"></script>
	<script>
		$(window).load(function () {
			$('.flexslider').flexslider({
				animation: "slide",
				start: function (slider) {
					$('body').removeClass('loading');
				}
			});
		});
	</script>
	<!-- //flexSlider (for testimonials) -->

	<!-- animation js -->
	<script src='/javascripts/aos.js'></script>
	<script>
		AOS.init({
            easing: 'ease-out-back',
            duration: 1000
        });

    </script>
	<!-- //animation js -->

	<!-- smooth scrolling -->
	<script src="/javascripts/SmoothScroll.min.js"></script>
	<!-- move-top -->
	<script src="/javascripts/move-top.js"></script>
	<!-- easing -->
	<script src="/javascripts/easing.js"></script>
	<!--  necessary snippets for few javascript files -->
	<script src="/javascripts/online-resume.js"></script>

	<script src="/javascripts/bootstrap.js"></script>
	<!-- Necessary-JavaScript-File-For-Bootstrap -->

	<!-- gallery -->
	<script src="/javascripts/jquery.chocolat.js"></script>
	<link rel="stylesheet" href="/stylesheets/chocolat.css" type="text/css" media="screen">
	<!-- light-box -->
	<script>
		$(function () {
			$('.gallery a').Chocolat();
		});
	</script>
	<!-- //light-box -->
	<!-- //gallery -->
	<!-- //Js files -->

</body>

</html>